aclocal.m4
autom4te.cache
compile
config.guess
config.h*
config.log
config.status
config.sub
configure
depcomp
INSTALL
install-sh
intltool-*
libtool
ltmain.sh
Makefile
Makefile.in
Makefile.in.in
missing
mkinstalldirs
*.o
*.lo
*.a
*.la
*.gmo
*~
man/scarecrow-settings-daemon.1
po/POTFILES
po/stamp-it
po/.intltool-merge-cache
stamp-h1
.deps
.libs
scarecrow-settings-daemon/scarecrow-settings-client.h
scarecrow-settings-daemon/scarecrow-settings-daemon
scarecrow-settings-daemon/scarecrow-settings-manager-glue.h
scarecrow-settings-daemon/scarecrow-settings-daemon-localeexec
scarecrow-settings-daemon/scsd-screen-saver-glue.c
scarecrow-settings-daemon/scsd-screen-saver-glue.h
scarecrow-settings-daemon/scsd-session-manager-glue.c
scarecrow-settings-daemon/scsd-session-manager-glue.h
scarecrow-settings-daemon/scsd-shell-glue.c
scarecrow-settings-daemon/scsd-shell-glue.h
data/*.pc
data/*.xml
data/*.valid
data/scarecrow-settings-daemon.desktop
data/scarecrow-settings-daemon.desktop.in
data/50-accessibility.xml
data/io.github.scarecrow_de.SettingsDaemon.service
*.scarecrow-settings-plugin
plugins/a11y-keyboard/test-a11y-preferences-dialog
plugins/a11y-keyboard/scsd-test-a11y-keyboard
plugins/a11y-settings/scsd-test-a11y-settings
plugins/background/test-background
plugins/common/scsd-common-enums.c
plugins/common/scsd-common-enums.h
plugins/common/scsd-test-input-helper
plugins/common/test-egg-key-parsing
plugins/datetime/scsd-test-datetime
plugins/datetime/geoclue.c
plugins/datetime/geoclue.h
plugins/datetime/timedated.c
plugins/datetime/timedated.h
plugins/housekeeping/scsd-disk-space-test
plugins/housekeeping/scsd-empty-trash-test
plugins/housekeeping/scsd-purge-temp-test
plugins/housekeeping/scsd-test-housekeeping
plugins/keyboard/scsd-input-sources-switcher
plugins/keyboard/scsd-test-keyboard
plugins/media-keys/scsd-marshal.c
plugins/media-keys/scsd-marshal.h
plugins/media-keys/scsd-media-keys-manager-glue.h
plugins/media-keys/scsd-test-media-keys
plugins/media-keys/shell-key-grabber.c
plugins/media-keys/shell-key-grabber.h
plugins/media-keys/test-media-keys
plugins/media-keys/test-media-window
plugins/smartcard/scsd-smartcard-enum-types.c
plugins/smartcard/scsd-smartcard-enum-types.h
plugins/smartcard/scsd-smartcard.h
plugins/smartcard/scsd-test-smartcard
plugins/smartcard/io.github.scarecrow_de.Smartcard.c
plugins/smartcard/io.github.scarecrow_de.Smartcard.h
plugins/smartcard/io.github.scarecrow_de.ScreenSaver.c
plugins/smartcard/io.github.scarecrow_de.ScreenSaver.h
plugins/smartcard/io.github.scarecrow_de.SessionManager.c
plugins/smartcard/io.github.scarecrow_de.SessionManager.h
plugins/mouse/scsd-test-mouse
plugins/power/scsd-backlight-helper
plugins/power/scsd-power-enums-update
plugins/power/scsd-power-enums.c
plugins/power/scsd-power-enums.h
plugins/power/scsd-test-power
plugins/power/io.github.scarecrow_de.settings-daemon.plugins.power.policy
plugins/power/io.github.scarecrow_de.settings-daemon.plugins.power.policy.in
plugins/print-notifications/scsd-printer
plugins/print-notifications/scsd-test-print-notifications
plugins/remote-display/scsd-test-remote-display
plugins/rfkill/scsd-test-rfkill
plugins/screensaver-proxy/scsd-test-screensaver-proxy
plugins/sharing/scsd-test-sharing
plugins/smartcard/io.github.scarecrow_de.SettingsDaemon.Smartcard.c
plugins/smartcard/io.github.scarecrow_de.SettingsDaemon.Smartcard.h
plugins/sound/scsd-test-sound
plugins/updates/scsd-test-updates
plugins/wacom/scsd-list-wacom
plugins/wacom/scsd-test-wacom
plugins/wacom/scsd-test-wacom-osd
plugins/wacom/scsd-wacom-led-helper
plugins/wacom/scsd-wacom-oled-helper
plugins/wacom/scsd-wacom-resources.c
plugins/wacom/io.github.scarecrow_de.settings-daemon.plugins.wacom.policy
plugins/wacom/io.github.scarecrow_de.settings-daemon.plugins.wacom.policy.in
plugins/xsettings/scsd-test-xsettings
plugins/xsettings/test-gtk-modules
plugins/xsettings/test-wm-button-layout-translations
tests/shiftkey
test-driver
